.vscode/launch.json
Test Center/DictionaryClassTests.ahk
ScreenRotationTest.exe
.vscode/settings.json
Test Center/DictionaryClassTests.ahk
L2R Image Cpy/log.txt
L2R Image Cpy/winSpy.ahk
L2R Image Cpy/img/inv.png
L2R Image Cpy/img/menuExit.png
L2R_WordFilter/README.md
priv/Blacksmith's Essence.png
priv/Elsium Fragment.png
priv/Elsium.png
priv/High-grade Tool Kit.png
priv/ManaStone-Accessory_LVL1.png
priv/ManaStone-Accessory_LVL2.png
priv/Radiant Accessory Upgrade Stone.png
priv/Refining Stone.png
priv/Rough Activation Stone.png
priv/Tool Kit.png
priv/Unconfirmed Accessory Beads.png
Test Center/WorkingWithDLLs.ahk
adb/adb.exe
