.bt_type2 span{border-color:#a68c69;background:#a68c69}
.bt_type3.on span{color:#a68c69;border-color:#a68c69}
.cmn_tab .cmn_tab_lst li.on a{border-color: #a68c69;color:#a68c69}
.cmn_tab .cmn_tab_ftr.on span{color:#a68c69}
.daterangepicker .btn_dtpicker.btn_success{color:#a68c69;border-color:#a68c69}
.pagination li.on a{background-color:#a68c69;border-color:#a68c69}
.mark_update{background-color:#fc6433}

.skin_pc_bg_base{background:#eef1f2!important}
.skin_pc_bg_elv_base{background:#000!important}
.skin_pc_bg_elv_cont{background:#303030!important}

.skin_pc_pri_font{color:#a68c69!important}
.skin_pc_pri_border{border-color:#a68c69!important}
.skin_pc_pri_bg{background:#a68c69!important}
.skin_pc_pri_bg_hover:hover{background:#a68c69!important}

.skin_pc_pri_ico_fill{fill:#a68c69!important}
.skin_pc_pri_ico_stroke{stroke:#a68c69!important}
.on .skin_pc_pri_ico_fill_on{fill:#a68c69!important}
.on .skin_pc_pri_ico_stroke_on{stroke:#a68c69!important}

.skin_pc_alert_border{border-color:#fc6433!important}
.skin_pc_alert_font{color:#fc6433!important}
.skin_pc_alert_bg{background:#fc6433!important}



